<div class="detail-section">

    <div class="container-fluid">

        <img src="{{ product.imageUrl }}" class="detail-img">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency:'MAD' }}</div>
        <button (click)="addToCart()" class="btn btn-primary2 btn-sm">Ajouter au panier</button>

        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Retour aux produits</a>

    </div>

</div>