<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="showAdminBoard && isLoggedIn" style="display:flex; padding: 10px;">

                <figure style="margin: 20px;">
                    <img src="https://i.ibb.co/VtLmHTJ/undraw.png" (click)="goToAddProduct()">
                    <figcaption> Nouveau produit </figcaption>
                </figure>

                <figure style="margin: 20px;">
                    <img src="https://i.ibb.co/s20Dh4G/undraw-order-delivered-p6ba.png" (click)="goToAddArticle()">
                    <figcaption> Liste des commandes </figcaption>
                </figure>

                <figure style="margin: 20px;">
                    <img src="https://i.ibb.co/VtLmHTJ/undraw.png" (click)="goToAddArticle()">
                    <figcaption> Nouvel article </figcaption>
                </figure>


            </div>
        </div>
    </div>
</div>