<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <!-- The Modal -->
            <div #myModal class="myModal">

                <div class="my-modal-content">
                    <img style="margin-left: auto; margin-right: auto; display: block;"
                        src="https://media.tenor.com/images/cbae2dfd31aa5ec2fcb7f46b65e1550f/tenor.gif">
                    <div style="text-align: center;">
                        <br><h1>Order Successful!</h1>
                        <br><h5>Your order will be processed soon.</h5>
                        <br><h5>We will send you an email when your order is confirmed.</h5>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>