<div class="main-content">
    <div class="col">
        <app-product-category-menu></app-product-category-menu>
    </div>

    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div id="z76" class="row">

                <!-- loop over articles -->
                <div *ngFor="let article of articles" class="col-xl-6 col-md-6" style="margin:0 auto; display: flex;">

                    <div id="x55">
                        <div class="product_image">
                            <img id="article_img" style="display: block; margin: auto;" src="{{ article.imageUrl }}">
                        </div>
                        <div class="product_content" id="article_content">
                            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                <div>
                                    <div>
                                        <div class="product_name">
                                            <strong>{{ article.title }}</strong>
                                        </div>
                                        <div class="product_category">{{ article.content }}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- if products is empty -->
                <div *ngIf="articles?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    Veuillez patienter ...
                </div>

            </div>


        </div>
    </div>
</div>