<div class="main-content">
    <div class="col">
        <app-product-category-menu></app-product-category-menu>
    </div>
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="ref !== undefined && name!==undefined">
                <ul style="text-align:center; list-style-type:disc; line-height:150%">

                    <br>
                    <li id="devis_details">Référence: {{ ref }}</li>
                    <br>
                    <li id="devis_details">Nom de monture: {{ name }}</li>
                    <br><br>

                </ul>
            </div>

            <div>
                <img src="https://i.ibb.co/7zzmmNz/devis.jpg" id="devis_img">
            </div>


        </div>
    </div>
</div>