<div class="main-content">
    <div class="col">
        <app-product-category-menu></app-product-category-menu>
    </div>
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="ref !== undefined && name!==undefined">
                <ul style="text-align:center; list-style-type:disc; line-height:150%">

                    <li>Référence: {{ ref }}</li>
                    <li>Nom de monture: {{ name }}</li>

                </ul>
            </div>

            <div>
                <img src="https://i.ibb.co/7zzmmNz/devis.jpg" alt="devis">
            </div>


        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_contact">
                        <div class="footer_title">A propos</div>
                        <div class="newsletter">
                            <p>1010montures : votre opticien en ligne

                                1010montures.com est un site spécialisé dans la vente de lunettes de marque sur
                                Internet. 1010montures
                                vous propose tous les services et la qualité d’un opticien traditionnel à moitié prix.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Footer Links -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_menu">
                        <div class="footer_title">Contact</div>
                        <ul class="footer_list">
                            <li>
                                <a href="mailto:montures@vision360.com">
                                    <div>contact@vision360.com<div class="footer_tag_1">online now</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Contact -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_contact">
                        <div class="footer_title">Pour plus d'infos</div>
                        <div class="newsletter">
                            <h2>Visitez <a href="http://www.1010mag.com">www.1010mag.com</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>