<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <!-- checkoutFormGroup from checkout.component.ts -->
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

                <!-- customer form group-->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer Info</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="firstName" [(ngModel)]="order.firstName" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="lastName" [(ngModel)]="order.lastName" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="email" [(ngModel)]="order.email" type="text"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Phone Number</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="phoneNumber" [(ngModel)]="order.phoneNumber" type="text"
                                    pattern="[0-9]{10}" required>
                            </div>
                        </div>
                    </div>

                </div>

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="city" [(ngModel)]="order.city" class="select-css" required>
                                    <option>Casablanca</option>
                                    <option>Rabat</option>
                                    <option>Marrakech</option>
                                    <option>Tanger</option>
                                    <option>Fes</option>
                                    <option>Meknes</option>
                                    <option>Agadir</option>
                                    <option>Salé</option>
                                    <option>Oujda</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Street</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="street" [(ngModel)]="order.street" type="text" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label> </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <!-- firstName from the component .ts -->
                                <input formControlName="zipCode" [(ngModel)]="order.postalCode" type="text" required>
                            </div>
                        </div>
                    </div>

                </div>



                <!-- order details: review your order -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: <span style="font-weight: bold;">{{ totalQuantity }}</span></p>
                    <p>Shipping: <span style="font-weight: bold;">FREE</span></p>
                    <p>
                        Total Price: <span style="font-weight: bold;">{{ totalPrice | currency:'MAD' }}</span>
                    </p>
                </div>

                <!-- submit button -->
                <div class="text-center">
                    <div *ngIf="totalPrice > 0">
                        <button type="submit" class="btn btn-info">Confirm Purchase</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>