<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <!-- checkoutFormGroup from checkout.component.ts -->
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group-->
        <div formGroupName="customer" class="form-area">
          <h3>Customer Info</h3>

          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="firstName" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('customer.firstName').touched || submitted) && checkoutFormGroup.get('customer.firstName').errors?.required">
                                    First name is required
                                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="lastName" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('customer.lastName').touched || submitted) && checkoutFormGroup.get('customer.lastName').errors?.required">
                                    Last name is required
                                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="email" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('customer.email').touched || submitted) && checkoutFormGroup.get('customer.email').errors?.required">
                                    A valid email is required
                                </span>
                <span class="text-danger"
                      *ngIf="checkoutFormGroup.get('customer.email').touched && checkoutFormGroup.get('customer.email').errors?.email">
                                    Enter a valid email address
                                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Phone Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="phoneNumber" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('customer.phoneNumber').touched || submitted) && checkoutFormGroup.get('customer.phoneNumber').errors?.required">
                                    Phone number is required
                                </span>
              </div>
            </div>
          </div>

        </div>

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" class="select-css" required>
                  <option>Casablanca</option>
                  <option>Rabat</option>
                  <option>Marrakech</option>
                  <option>Tanger</option>
                  <option>Fes</option>
                  <option>Meknes</option>
                  <option>Agadir</option>
                  <option>Salé</option>
                  <option>Oujda</option>
                </select>
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('shippingAddress.city').touched || submitted) && checkoutFormGroup.get('shippingAddress.city').errors?.required">
                                    City is required
                                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Address</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="street" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('shippingAddress.street').touched || submitted) && checkoutFormGroup.get('shippingAddress.street').errors?.required">
                                    Address is required
                                </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Postal Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <!-- firstName from the component .ts -->
                <input formControlName="zipCode" type="text">
                <span class="text-danger"
                      *ngIf="(checkoutFormGroup.get('shippingAddress.zipCode').touched || submitted) && checkoutFormGroup.get('shippingAddress.zipCode').errors?.required">
                                    ZIP Code is required
                                </span>
              </div>
            </div>
          </div>

        </div>


        <!-- order details: review your order -->
        <div class="form-area">
          <h3>Review Your Order</h3>

          <p>Total Quantity: <span style="font-weight: bold;">{{ totalQuantity }}</span></p>
          <p>Shipping: <span style="font-weight: bold;">FREE</span></p>
          <p>
            Total Price: <span style="font-weight: bold;">{{ totalPrice | currency:'MAD' }}</span>
          </p>
        </div>

        <!-- submit button -->
        <div class="text-center">
          <div *ngIf="totalPrice > 0">
            <div>
              <button type="submit" class="btn btn-info">Confirm Purchase</button>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>
